#info {
  position: absolute;
  top: 0; /* Oppure 0, o qualsiasi valore preferisci */
  width: 100%;
  text-align: center;
  color: white;
  z-index: 100;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100dvh;
  background-color: black;
  overflow: hidden;
  position: fixed; /* Questo "inchioda" la pagina per Safari */
}