#info {
  position: absolute;
  top: 0; /* Oppure 0, o qualsiasi valore preferisci */
  width: 100%;
  text-align: center;
  color: white;
  z-index: 100;
}
body{
  height: 100dvh;
  background-color: black;
  overflow: hidden;
}